/* line 1, ../sass/common.scss */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden,
.views-ui-display-tab-bucket.overridden .views-ui-display-tab-bucket__title {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

/**
 * @file
 * Grid system definition for the content wide layout.
 */
/* line 14, ../sass/common.scss */
.layout--content-medium,
.layout--pass--content-medium > * {
  grid-column: 1 / 7;
  width: 100%;
}

@media (min-width: 43.75rem) {
  /* line 21, ../sass/common.scss */
  .layout--content-medium,
  .layout--pass--content-medium > * {
    grid-column: 2 / 14 !important;
  }
}
@media (min-width: 62.5rem) {
  /* line 28, ../sass/common.scss */
  .layout--content-medium,
  .layout--pass--content-medium > * {
    grid-column: 2 / 16;
  }
}
/*
  If .layout--content-narrow is nested within any of the following, allocate the appropriate
  amount of columns within its parent .grid-full.
    - .layout--content-narrow class.
    - Element that's inheriting the layout--content-narrow styles from its parent region.
    - .layout--content-medium class.
    - Element that's inheriting the layout--content-medium styles from its parent region.
*/
@media (min-width: 43.75rem) {
  /* line 45, ../sass/common.scss */
  .layout--content-narrow .layout--content-narrow,
  .layout--pass--content-narrow > * .layout--content-narrow,
  .layout--content-medium .layout--content-narrow,
  .layout--pass--content-medium > * .layout--content-narrow,
  .layout--content-narrow .layout--pass--content-narrow > *,
  .layout--pass--content-narrow > * .layout--pass--content-narrow > *,
  .layout--content-medium .layout--pass--content-narrow > *,
  .layout--pass--content-medium > * .layout--pass--content-narrow > * {
    grid-column: 1 / 13;
  }
}
@media (min-width: 62.5rem) {
  /* line 58, ../sass/common.scss */
  .layout--content-narrow .layout--content-narrow,
  .layout--pass--content-narrow > * .layout--content-narrow,
  .layout--content-medium .layout--content-narrow,
  .layout--pass--content-medium > * .layout--content-narrow,
  .layout--content-narrow .layout--pass--content-narrow > *,
  .layout--pass--content-narrow > * .layout--pass--content-narrow > *,
  .layout--content-medium .layout--pass--content-narrow > *,
  .layout--pass--content-medium > * .layout--pass--content-narrow > * {
    grid-column: 1 / 12 !important;
  }
}
/* line 72, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper {
  border-radius: 1px;
}
/* line 74, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content {
  position: relative;
  width: auto !important;
  margin: 10px 10px 10px 10px;
}
/* line 77, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content article.node {
  width: 300px !important;
}
/* line 80, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content article.node--type-geometry {
  width: auto !important;
}
/* line 84, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content h2 {
  font-size: 1.2em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.5rem;
  font-weight: normal;
  padding-top: 6px;
}
/* line 91, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content h3 {
  font-size: 1.1em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.4rem;
  font-weight: normal;
}
/* line 97, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content h3 {
  font-size: 1.25rem;
  line-height: var(--sp1-5);
}
/* line 101, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content div {
  margin-bottom: 6px;
}
/* line 104, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content div:last-child {
  margin-bottom: 0;
}
/* line 107, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content .node__content {
  padding-block-end: 0;
}
/* line 110, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geoimage-caption {
  padding-left: 0.5rem !important;
  font-size: 0.8rem;
  opacity: 70%;
  line-height: 1.2rem;
}
/* line 116, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content .field:not(:last-child) {
  margin-bottom: 0.4rem !important;
}
/* line 119, ../sass/common.scss */
#leaflet-map-view-geo-images-leaflet-map .leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image {
  float: none;
  margin: 0;
}

/* line 129, ../sass/common.scss */
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

/* line 135, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.up-to-the-top {
  z-index: 1000 !important;
}
/* line 138, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50 {
  border: black solid thin;
  opacity: 50% !important;
}
/* line 142, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50:hover {
  opacity: 100% !important;
}
/* line 145, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75 {
  opacity: 60% !important;
}
/* line 148, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75:hover {
  opacity: 100% !important;
}

/* line 155, ../sass/common.scss */
.leaflet-control-layers-list label {
  margin-bottom: 4px;
}
/* line 158, ../sass/common.scss */
.leaflet-control-layers-list input[type="radio"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}
/* line 162, ../sass/common.scss */
.leaflet-control-layers-list input[type="radio"]:checked {
  background-size: 0.6rem;
}
/* line 166, ../sass/common.scss */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}

/* line 174, ../sass/common.scss */
.leaflet-tooltip-left {
  margin-left: -20px;
}

/* line 177, ../sass/common.scss */
.leaflet-tooltip-right {
  margin-left: 20px;
}

/* line 183, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster div {
  font-weight: bold;
  color: white;
}
/* line 187, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small {
  background-color: inherit !important;
}
/* line 188, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div {
  color: black;
  font-weight: normal;
}
/* line 193, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #f8c216 !important;
  border: black solid 1px;
}
/* line 199, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div span {
  line-height: 22px;
}
/* line 204, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium {
  background-color: inherit !important;
}
/* line 206, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(242, 94, 10, 0.71) !important;
  border: black solid 1px;
}
/* line 212, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div span {
  line-height: 40px;
}
/* line 217, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large {
  background-color: inherit !important;
  z-index: 100 !important;
}
/* line 220, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fc0303 !important;
  opacity: 80%;
  border: black solid 1px;
}
/* line 227, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div span {
  line-height: 60px;
}

/**
 * @file
 * Region default layout.
 */
/* line 241, ../sass/common.scss */
.region > * {
  margin-block-end: var(--sp) !important;
}

@media (min-width: 43.75rem) {
  /* line 246, ../sass/common.scss */
  .region > * {
    margin-block-end: var(--sp2) !important;
  }
}
@media (min-width: 62.5rem) {
  /* line 252, ../sass/common.scss */
  .region > * {
    margin-block-end: var(--sp2) !important;
  }
}
/**
 * @file
 * Visual styles for fields.
 */
/* line 262, ../sass/common.scss */
.field:not(:last-child) {
  margin-block-end: var(--sp1) !important;
}

/* line 267, ../sass/common.scss */
.field--name-geofield-googlemaps-link {
  margin-top: 10px;
  font-size: 0.9rem;
}
/* line 270, ../sass/common.scss */
.field--name-geofield-googlemaps-link .field__item {
  display: inline-block;
  margin-right: 10px;
}

/* line 277, ../sass/common.scss */
.view > * {
  margin-bottom: 0.6rem !important;
}

/**
 * @file
 * Styles for views.
 */
/* line 286, ../sass/common.scss */
.view,
.view-content {
  display: grid;
  gap: var(--sp0-5) !important;
  grid-template-rows: max-content;
}

@media (min-width: 43.75rem) {
  /* line 295, ../sass/common.scss */
  .view,
  .view-content {
    gap: var(--sp3);
  }
}
/* line 304, ../sass/common.scss */
.view.view-geo-images-list .field:not(:last-child) {
  margin-block-end: var(--sp0-5) !important;
}

/* line 311, ../sass/common.scss */
.view-geo-images-map .view-header, .view-geo-images-list .view-header {
  margin-bottom: 0.2rem !important;
}
/* line 313, ../sass/common.scss */
.view-geo-images-map .view-header > p, .view-geo-images-list .view-header > p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}
/* line 320, ../sass/common.scss */
.view-geo-images-map .view-filters form fieldset.fieldset, .view-geo-images-list .view-filters form fieldset.fieldset {
  border: none !important;
}
/* line 322, ../sass/common.scss */
.view-geo-images-map .view-filters form fieldset.fieldset legend.fieldset__legend, .view-geo-images-list .view-filters form fieldset.fieldset legend.fieldset__legend {
  display: none !important;
}
/* line 325, ../sass/common.scss */
.view-geo-images-map .view-filters form fieldset.fieldset .fieldset__wrapper, .view-geo-images-list .view-filters form fieldset.fieldset .fieldset__wrapper {
  margin-block-start: 0 !important;
  padding-block: 0 !important;
  padding-inline: 0 !important;
}
/* line 329, ../sass/common.scss */
.view-geo-images-map .view-filters form fieldset.fieldset .fieldset__wrapper .form-item, .view-geo-images-list .view-filters form fieldset.fieldset .fieldset__wrapper .form-item {
  margin-block: 0 !important;
}
/* line 334, ../sass/common.scss */
.view-geo-images-map .view-filters form .form-actions, .view-geo-images-list .view-filters form .form-actions {
  margin-top: 0 !important;
}
/* line 340, ../sass/common.scss */
.view-geo-images-map.view-display-id-attachment_dates .view-content, .view-geo-images-list.view-display-id-attachment_dates .view-content {
  gap: 0 !important;
  max-height: 106px;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  padding: 0 10px 10px 10px;
}
/* line 346, ../sass/common.scss */
.view-geo-images-map.view-display-id-attachment_dates .view-content > h3, .view-geo-images-list.view-display-id-attachment_dates .view-content > h3 {
  margin-block: 0;
  font-size: 1rem;
  font-weight: normal;
}
/* line 351, ../sass/common.scss */
.view-geo-images-map.view-display-id-attachment_dates .view-content > div, .view-geo-images-list.view-display-id-attachment_dates .view-content > div {
  display: none;
}
