/* line 1, ../sass/common.scss */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

/* line 9, ../sass/common.scss */
#leaflet-map-view-geo-images-geo-images-map .leaflet-popup-content-wrapper {
  border-radius: 1px;
}
/* line 11, ../sass/common.scss */
#leaflet-map-view-geo-images-geo-images-map .leaflet-popup-content-wrapper .leaflet-popup-content {
  position: relative;
  width: 340px;
  margin: 10px 10px 10px 10px;
}
/* line 15, ../sass/common.scss */
#leaflet-map-view-geo-images-geo-images-map .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geoimage-caption {
  padding-left: 0.5rem !important;
  font-size: 0.8rem;
  opacity: 70%;
  line-height: 1.2rem;
}
/* line 21, ../sass/common.scss */
#leaflet-map-view-geo-images-geo-images-map .leaflet-popup-content-wrapper .leaflet-popup-content .field:not(:last-child) {
  margin-bottom: 0.4rem !important;
}
/* line 24, ../sass/common.scss */
#leaflet-map-view-geo-images-geo-images-map .leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image {
  float: none;
  margin: 0;
}
/* line 28, ../sass/common.scss */
#leaflet-map-view-geo-images-geo-images-map .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geofield-googlemaps-link .field__item {
  display: inline-block;
  margin-right: 10px;
}

/* line 40, ../sass/common.scss */
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

/* line 45, ../sass/common.scss */
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

/* line 51, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.up-to-the-top {
  z-index: 1000 !important;
}
/* line 54, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50 {
  border: black solid thin;
  opacity: 50% !important;
}
/* line 58, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50:hover {
  opacity: 100% !important;
}
/* line 61, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75 {
  opacity: 60% !important;
}
/* line 64, ../sass/common.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75:hover {
  opacity: 100% !important;
}

/* line 71, ../sass/common.scss */
.leaflet-control-layers-list label {
  margin-bottom: 4px;
}
/* line 74, ../sass/common.scss */
.leaflet-control-layers-list input[type="radio"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}
/* line 78, ../sass/common.scss */
.leaflet-control-layers-list input[type="radio"]:checked {
  background-size: 0.6rem;
}
/* line 82, ../sass/common.scss */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}

/* line 90, ../sass/common.scss */
.leaflet-tooltip-left {
  margin-left: -20px;
}

/* line 93, ../sass/common.scss */
.leaflet-tooltip-right {
  margin-left: 20px;
}

/* line 98, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster div {
  font-weight: bold;
}
/* line 101, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small {
  background-color: inherit !important;
}
/* line 103, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div {
  background-color: #f1cf61 !important;
  border: black solid 1px;
}
/* line 108, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium {
  background-color: inherit !important;
}
/* line 110, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div {
  background-color: #f1cf61 !important;
  border: black solid 1px;
}
/* line 115, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large {
  background-color: inherit !important;
}
/* line 117, ../sass/common.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div {
  background-color: #f1cf61 !important;
  border: black solid 1px;
}
