.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

#leaflet-map-view-geo-images-geo-images-map {
  .leaflet-popup-content-wrapper {
    border-radius: 1px;
    .leaflet-popup-content {
      position: relative;
      width: 340px;
      margin: 10px 10px 10px 10px;
      h2 {
        font-size: 1.4em;
        margin: 0.5em 20px 0.5em 0;
        line-height: 1.5rem;
        font-weight: normal;
        padding-top: 6px
      }
      h3 {
        font-size: 1.2em;
        margin: 0.5em 20px 0.5em 0;
        line-height: 1.4rem;
        font-weight: normal;
      }
      div {
        margin-bottom: 6px;
      }
      div:last-child {
        margin-bottom: 0;
      }
      .node__content {
        padding-block-end: 0;
      }
      .field--name-geoimage-caption {
        padding-left: 0.5rem !important;
        font-size: 0.8rem;
        opacity: 70%;
        line-height: 1.2rem;
      }
      .field:not(:last-child) {
        margin-bottom: 0.4rem !important;
      }
      .field--type-image {
        float: none; // This is needed to move the Leaflet Popup to show all of it in the map container
        margin: 0;
      }
      .field--name-geofield-googlemaps-link .field__item {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}



// Move down the Leaflet Popup Close Button,
// if we want the leaflet-popup-content-wrapper padding top is 0.
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

// Tune the Geocoder Control Input element font size.
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

// Customise Leaflet Marker Icons
.leaflet-pane .leaflet-marker-icon {
  &.up-to-the-top {
    z-index: 1000 !important;
  }
  &.opacity-50 {
    border: black solid thin;
    opacity: 50% !important;
  }
  &.opacity-50:hover {
    opacity: 100% !important;
  }
  &.opacity-75 {
    opacity: 60% !important;
  }
  &.opacity-75:hover {
    opacity: 100% !important;
  }
}

// Fine Style the Control Layer List.
.leaflet-control-layers-list {
  label {
    margin-bottom: 4px;
  }
  input[type="radio"] {
    margin-right: 4px;
    height: 1.2rem;
    width: 1.2rem;
    &:checked {
      background-size: 0.6rem;
    }
  }
  input[type="checkbox"] {
    margin-right: 4px;
    height: 1.2rem;
    width: 1.2rem;
  }
}

// Leaflet Tooltips
.leaflet-tooltip-left {
  margin-left: -20px;
}
.leaflet-tooltip-right {
  margin-left: 20px;
}
// Leaflet Markers Clusters Style overrides
.leaflet-marker-icon.marker-cluster {
  div {
    font-weight: bold;
  }
  &.marker-cluster-small {
    background-color: inherit !important;
    div {
      background-color: rgb(241, 207, 97) !important;
      border: black solid 1px;
    }
  }
  &.marker-cluster-medium {
    background-color: inherit !important;
    div {
      background-color: rgb(241, 207, 97) !important;
      border: black solid 1px;
    }
  }
  &.marker-cluster-large {
    background-color: inherit !important;
    div {
      background-color: rgb(241, 207, 97) !important;
      border: black solid 1px;

    }
  }
}

